[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
sqlalchemy = "*"
alembic = "*"
psycopg2-binary = "*"
uvicorn = "*"
python-slugify = "*"
python-multipart = "*"
inflection = "*"
tenacity = "*"
plaid-python = "*"
requests = "*"
python-jose = "*"

[requires]
python_version = "3.8"
