[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sqlalchemy = "*"
alembic = "*"
psycopg2-binary = "*"
uvicorn = "*"
python-slugify = "*"
python-multipart = "*"
slugify = "*"
inflection = "*"
tenacity = "*"
fastapi = "*"

[requires]
python_version = "3.8"
